[req]  
    distinguished_name = req_distinguished_name  
    req_extensions = v3_req  
  
    [req_distinguished_name]  
    countryName = Country Name (2 letter code)  
    countryName_default = CN  
    stateOrProvinceName = State or Province Name (full name)  
    stateOrProvinceName_default = ZheJiang
    localityName = Locality Name (eg, city)  
    localityName_default = HangZhou
    organizationalUnitName  = Organizational Unit Name (eg, section)  
    organizationalUnitName_default  = Yug Server
    commonName = YugServer
    commonName_max  = 64  
  
    [ v3_req ]  
    # Extensions to add to a certificate request  
    basicConstraints = CA:FALSE  
    keyUsage = nonRepudiation, digitalSignature, keyEncipherment  
    subjectAltName = @alt_names  
  
    [alt_names]
    DNS.1       = demo.com
    DNS.2       = *.demo.com
    DNS.3       = wuage.com
    DNS.4       = *.wuage.com
    DNS.5       = *.wuage-inc.com
    DNS.6       = *.styledemo.com

    DNS.7       = localhost
    DNS.8       = 127.0.0.1

    DNS.9     = ::1

    # for chrome
    # IPv4 localhost
    IP.1 = 127.0.0.1
    # IPv6 localhost
    IP.2     = ::1
